@import "tailwindcss";
@plugin "daisyui";

html, body, #root {
  height: 100%;
}

body {
  @apply bg-base-100 text-base-content antialiased; /* DaisyUI tokens */
  margin: auto;
  max-width: 1440px;
  position: relative;
}
